if idUsers == ""
  body(onload='window.location.href = "/"')
else
  if role == 0
     body(onload='window.location.href = "/users"')
  else 
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='description' content='')
      meta(name='author' content='')
      title [ Admin ] Dashboard
      // Custom fonts for this template
      link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
      link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
      // Custom styles for this template
      link(href='/css/style.css' rel='stylesheet')
    // Page Wrapper
    #wrapper
      // Sidebar
      ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
        a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='admin.html')
          .sidebar-brand-icon.rotate-n-15
            i.fas.fa-laugh-wink
          .sidebar-brand-text.mx-3 Admin Wibu
        // Nav Item - Charts
        li.nav-item
          a.nav-link(href='/admin')
            i.fas.fa-fw.fa-chart-area
            span Dashboard
        // Nav Item - Tables
        li.nav-item
          a.nav-link(href='/admin/users')
            i.fas.fa-fw.fa-table
            span Users 
        .sidebar-card.d-none.d-lg-flex
          a.btn.btn-danger.btn-sm(onclick='Logout()') Selesai Ngewibu
      // End of Sidebar
      // Content Wrapper
      #content-wrapper.d-flex.flex-column
        // Main Content
        #content
          // Topbar
          nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
            // Topbar Navbar
            ul.navbar-nav.ml-auto
              // Nav Item - Search Dropdown (Visible Only XS)
              li.nav-item.dropdown.no-arrow.d-sm-none
                a#searchDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  i.fas.fa-search.fa-fw
                // Dropdown - Messages
                .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in(aria-labelledby='searchDropdown')
                  form.form-inline.mr-auto.w-100.navbar-search
                    .input-group
                      input.form-control.bg-light.border-0.small(type='text' placeholder='Search for...' aria-label='Search' aria-describedby='basic-addon2')
                      .input-group-append
                        button.btn.btn-primary(type='button')
                          i.fas.fa-search.fa-sm
              // Nav Item - User Information
              li.nav-item.dropdown.no-arrow
                .nav-link.dropdown-toggle
                  .d-flex
                    input#input-search.form-control.me-2(type="search" placeholder="Search" aria-label="Search")
                    button.btn.btn-outline-success(type="submit" onclick="searchData()") Search
              li.nav-item.dropdown.no-arrow
                a.nav-link.dropdown-toggle
                  span.mr-2.d-none.d-lg-inline.text-gray-600.small=username
                  img.img-profile.rounded-circle(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDONAQPAJFgvmlYI-ssVwgt6saWUmGRwEVWQ&usqp=CAU')
          // End of Topbar
          // Begin Page Content
          .container-fluid
            // Page Heading
            .d-sm-flex.align-items-center.justify-content-between.mb-4
              h1.h3.mb-0.text-gray-800 Dashboard Wibu
            // Content Row
            .row
              // Earnings (Monthly) Card Example
              .col-xl-3.col-md-6.mb-4
                .card.border-left-primary.shadow.h-100.py-2
                  .card-body
                    .row.no-gutters.align-items-center
                      .col.mr-2
                        .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1
                          | Total Movies
                        .h5.mb-0.font-weight-bold.text-gray-800=totalMovie
                      .col-auto
                        i.fas.fa-calendar.fa-2x.text-gray-300
              // Earnings (Monthly) Card Example
              .col-xl-3.col-md-6.mb-4
                .card.border-left-success.shadow.h-100.py-2
                  .card-body
                    .row.no-gutters.align-items-center
                      .col.mr-2
                        .text-xs.font-weight-bold.text-success.text-uppercase.mb-1
                          | Total Costumers
                        .h5.mb-0.font-weight-bold.text-gray-800=totalUser
                      .col-auto
                        i.fas.fa-dollar-sign.fa-2x.text-gray-300
              // Earnings (Monthly) Card Example
              .col-xl-3.col-md-6.mb-4
                .card.border-left-info.shadow.h-100.py-2
                  .card-body
                    .row.no-gutters.align-items-center
                      .col.mr-2
                        .text-xs.font-weight-bold.text-info.text-uppercase.mb-1
                          | Total Sales
                        .row.no-gutters.align-items-center
                          .col-auto
                            .h5.mb-0.mr-3.font-weight-bold.text-gray-800=totalBooking
                          .col
                      .col-auto
                        i.fas.fa-clipboard-list.fa-2x.text-gray-300
              // Pending Requests Card Example
              .col-xl-3.col-md-6.mb-4
                .card.border-left-warning.shadow.h-100.py-2
                  .card-body
                    .row.no-gutters.align-items-center
                      .col.mr-2
                        .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1
                          | TotalRevenue
                        .h5.mb-0.font-weight-bold.text-gray-800
                          | -
                      .col-auto
                        i.fas.fa-comments.fa-2x.text-gray-300
            .d-sm-flex.align-items-center.justify-content-between.mb-4
              a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(data-bs-toggle='modal' data-bs-target='#addData') Tambah Data Movie
            // Area Chart
            .card.shadow.mb-4
              .card-header.py-3
                h6.m-0.font-weight-bold.text-primary Data Movie
              .card-body
                .table-responsive
                  table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                    thead
                      tr
                        th Name
                        th Harga
                        th Tanggal Mulai
                        th Tanggal Selesai
                        //- th Jumlah Kursi
                        th Keterangan
                        th Actions
                    tbody
                      each movie in data
                        tr
                          td= movie.name 
                          td= "Rp. " + movie.price
                          td= movie.start_date
                          td= movie.end_date
                          //- td os
                          td.text-center
                            a.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(data-bs-toggle='modal' data-bs-target="#modalViews"+movie.id)
                              | Views
                              td.text-center
                                button.btn.btn-warning.me-2(type='button' id='updatedata<%= x.id %>' data-bs-toggle='modal' data-bs-target="#updateData"+movie.id)
                                  svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
                                    path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z')
                                // Modal
                                .modal.fade.text-left(id="updateData"+movie.id tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                                  .modal-dialog
                                    .modal-content
                                      .modal-header
                                        h5#exampleModalLabel.modal-title
                                          | Edit Data movie
                                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                      .modal-body
                                        .mb-3
                                          label.form-label(for='exampleFormControlInput1') Nama
                                          input.form-control(id="editMovieNama"+movie.id value=movie.name type='email' placeholder='Boruto')
                                        .mb-3
                                          label.form-label(for='exampleFormControlInput1') Tanggal Mulai
                                          input.form-control(id="editMovieTanggalMulai"+movie.id value=movie.start_date type='date')
                                        .mb-3
                                          label.form-label(for='exampleFormControlInput1')
                                            | Tangga Selesai
                                          input.form-control(id="editMovieTanggalSelesai"+movie.id value=movie.end_date type='date')
                                        .mb-3
                                          label.form-label(for='exampleFormControlInput1') Harga Rp.
                                          input.form-control(id="editMovieJumlahKursi"+movie.id value=movie.price type='number' placeholder='400000')
                                        .mb-3
                                          label.form-label(for='exampleFormControlInput1') Image Url
                                          input.form-control(id="editMovieimages"+movie.id value=movie.images type='email' placeholder='https://www.example.com')
                                        .mb-3
                                          label.form-label(for='exampleFormControlTextarea1') Deskripsi Movie
                                          textarea.form-control(id="editMovieDeskripsi"+movie.id rows='3')=movie.desc 
                                      .modal-footer
                                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                                          | Batal
                                        button.btn.btn-primary(onclick="EditDataMovie("+movie.id+")" type='button') Simpan
                                button.btn.btn-danger(type='button' data-bs-toggle='modal' data-bs-target=id="#modalDelete"+movie.id)
                                  svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z')
                                    path(fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z')
                              .modal.fade(id="modalDelete"+movie.id tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                                .modal-dialog
                                  .modal-content
                                    .modal-header
                                      h5#exampleModalLabel.modal-title= movie.name
                                      button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                    .modal-body
                                      | Apa anda yakin ingin mengapus?
                                    .modal-footer
                                      button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                                        | Batal
                                      button.btn.btn-danger(type='submit' onclick="Deletemovie("+movie.id+")") Hapus
                              .modal.fade(id="modalViews"+movie.id tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                                .modal-dialog
                                  .modal-content
                                    .modal-header
                                      h5.modal-title
                                        | Deskripsi
                                      button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                    .modal-body=movie.desc
                                    .modal-footer
                                      button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                                        | Tutup
        // End of Main Content
        // Footer
        footer.sticky-footer.bg-white
          .container.my-auto
            .copyright.text-center.my-auto
              span
                | Copyright &copy; Yuneda, Maria, Ramadhan Yudha, Ariawan &amp; Aulia
                | 2022
        // Modal
        // Modal
        #addData.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title
                  | Tambah Data movie
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                .mb-3
                  label.form-label(for='exampleFormControlInput1') Nama
                  input#addMovieNama.form-control(type='email' placeholder='Boruto')
                .mb-3
                  label.form-label(for='exampleFormControlInput1') Tanggal Mulai
                  input#addMovieTanggalMulai.form-control(type='date')
                .mb-3
                  label.form-label(for='exampleFormControlInput1')
                    | Tangga Selesai
                  input#addMovieTanggalSelesai.form-control(type='date')
                .mb-3
                  label.form-label(for='exampleFormControlInput1') Harga Rp.
                  input#addMovieJumlahKursi.form-control(type='number' placeholder='400000')
                .mb-3
                  label.form-label(for='exampleFormControlInput1') Image Url
                  input#addMovieimages.form-control(type='email' placeholder='https://www.example.com')
                .mb-3
                  label.form-label(for='exampleFormControlTextarea1') Deskripsi Movie
                  textarea#AddMovieDeskripsi.form-control(rows='3')
              .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                  | Batal
                button.btn.btn-primary(type='button' onclick='AddDataMovie()') Tambah
      // End of Footer
    // End of Content Wrapper
    // End of Page Wrapper
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js' integrity='sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js' integrity='sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13' crossorigin='anonymous')
    script(src='/js/main.js')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
